#include "HT_Parameters_Coeffs.h"
#include "math.h"

uint32_t HT_Count = {{ht_devices.__len__() + 1}};
HT_t hts[] = {
                            {%for ht in ht_devices%}
    {
        .serialNumber = {{ht.number}},
        .parameters = (HT_Parameter_t[])
        {
            {
                .constantFrequencyBias = {{ht.polynom_temp1_bias}},
                .A = (const U64_t[]){ {%for coeff in ht.polynom_temp1%}{{coeff}},{%endfor%} }
            },
            {
                .constantFrequencyBias = {{ht.polynom_press1_bias}},
                .A = (const U64_t[]){ {%for coeff in ht.polynom_press1_temp2%}{{coeff}},{%endfor%} }
            },
            {
                .constantFrequencyBias = {{ht.polynom_temp2_bias}},
                .A = (const U64_t[]){ {%for coeff in ht.polynom_temp2%}{{coeff}},{%endfor%} }
            },
            {
                .constantFrequencyBias = {{ht.polynom_press2_bias}},
                .A = (const U64_t[]){ {%for coeff in ht.polynom_press2_temp1%}{{coeff}},{%endfor%} }
            },
            {
                .constantFrequencyBias = {{ht.polynom_press1_bias}},
                .A = (const U64_t[]){ {%for coeff in ht.polynom_press1_temp1%}{{coeff}},{%endfor%} }
            },
            {
                .constantFrequencyBias = {{ht.polynom_press2_bias}},
                .A = (const U64_t[]){ {%for coeff in ht.polynom_press2_temp2%}{{coeff}},{%endfor%} }
            }
        }
    },                          {%endfor%}
    {
        .serialNumber = 0xFFFF,
        .parameters = (HT_Parameter_t[])
        {
            {
                .constantFrequencyBias = 0,
                .A = (const U64_t[]){ NAN }
            },
            {
                .constantFrequencyBias = 0,
                .A = (const U64_t[]){ NAN }
            },
            {
                .constantFrequencyBias = 0,
                .A = (const U64_t[]){ NAN }
            },
            {
                .constantFrequencyBias = 0,
                .A = (const U64_t[]){ NAN }
            },
            {
                .constantFrequencyBias = 0,
                .A = (const U64_t[]){ NAN }
            },
            {
                .constantFrequencyBias = 0,
                .A = (const U64_t[]){ NAN }
            }
        }
    } 
};
